{% extends 'base.html.twig' %}

{% block title %}Mon Blog{% endblock %}

{% block body %}


<div style='margin-left: 5%'>
    <h2>Parlons Crypto!!!</h2>
    <p>Ceci est la page d'accueil</p>
    <img src="/image/bitcoin.png">
</div>
{% endblock %}